<div id="settingsModal" class="reveal-modal medium open" style="top: 100px; opacity: 1; visibility: visible; display: block;">
    <h2>Options</h2>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Select Sound</label>
        <select multiple class="form-control" size="5" id="sel1" [(ngModel)]="params.sound">
          <option *ngFor="let sound of sounds" [value]="sound.value" [selected]="params.sound == sound.value">{{sound.name}}</option>          
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Select Volume</label>
        <select multiple class="form-control" size="5" id="sel1" [(ngModel)]="params.volume">
          <option *ngFor="let volume of volumes" [value]="volume.value" [selected]="params.volume == volume.value">{{volume.name}}</option>          
        </select>
      </div>
      <label for="exampleFormControlSelect1">Set Custom Times <small>(in minutes)</small></label>      
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"><b>Pomodoro</b></div>
            <div class="col-md-3"><b>Short Break</b></div>
            <div class="col-md-3"><b>Long Break</b></div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control form-control-md" [(ngModel)]="params.pomodoro">          
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control form-control-md" [(ngModel)]="params.shortBreak"> 
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control form-control-md" [(ngModel)]="params.longBreak">
            </div>
          </div>
      </div>
      <br>
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-block" (click) = "save(params)">Save</button>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-block" (click) = "reset()">Reset</button>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary btn-block" (click) = "soundTest(params.sound, params.volume)">Sound Test</button>
            </div>
          </div>
      </div>
  </div>
