<div class="container">
  <div class="header">
    <div class="row">
      <div class="col-sm-7">
        <div class="logo">
          Tomato Timer
        </div>
      </div>
      <div class="col-md-5">
        <app-settings></app-settings>          
      </div>
    </div>
  </div>
  <div class="content">
    <div class="topContent">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-2 clRow">Pomodoro</div>
          <div class="col-md-2 clRow">Short Break</div>
          <div class="col-md-2 clRow">Long Break</div>
          <div class="col-md-3"></div>  
      </div>            
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="timer">
          {{time}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-success btn-md btn-custom" [disabled] = "isBtnDisabled" (click) = "start(this)">Start</button>
        <button class="btn btn-danger btn-md btn-custom" (click) = "stop()">Stop</button>
        <button class="btn btn-default btn-md btn-custom" (click) = "reset()">Reset</button>
      </div>
    </div>
    <div class="row info">
      <div class="col-md-1"></div>
      <div class="col-md-3 col-sm-12 col-xs-12 bg-custom">
        <div class="title">Keyboard Shortcuts</div>
        <div>
          <ul>
            <li>SPACE   Start or Stop the timer</li>
            <li>ALT + P  Pomodoro</li>
            <li>ALT + S  Short Break</li>
            <li>ALT + L  Long Break</li>
            <li>ALT + R  Reset Timer</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 bg-custom">
        <div class="title">Notifications</div>
        <div>
            Notifications go here.
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 bg-custom">
        <div class="title">Settings</div>
        <div>
            You can set custom times, audio tone and volume via Settings.
        </div>
      </div>
    </div>   

  </div>

  <div class="footer">
    <div class="row">
      <div class="col-md-12">
        Description goes here
      </div>
    </div>    
  </div>
</div>