
<div class="container">
  <div class="header">
    <div class="row">
      <div class="col-sm-7">
        <div class="logo">
          Tomato Timer
        </div>
      </div>
      <div class="col-md-5">
        <app-settings></app-settings>          
      </div>
    </div>
  </div>

  <div class="content">
    <div class="topContent">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-2 clRow">Pomodoro</div>
          <div class="col-md-2 clRow">Short Break</div>
          <div class="col-md-2 clRow">Long Break</div>
          <div class="col-md-3"></div>  
      </div>            
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="timer">
          {{time}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-success btn-md btn-custom" [disabled] = "isBtnDisabled" (click) = "start(this)">Start</button>
        <button class="btn btn-danger btn-md btn-custom" (click) = "stop()">Stop</button>
        <button class="btn btn-default btn-md btn-custom" (click) = "reset()">Reset</button>
      </div>
    </div>

    <div class="info">
            <div class="bg-custom">Keyboard Shortcuts</div>
            <div class="bg-custom">Notifications</div>
            <div class="bg-custom">Settings</div>
    </div>   

  </div>

  <div class="footer">
    <div class="row">
      <div class="col-md-12">
        Description goes here
      </div>
    </div>    
  </div>
</div>