<ul class="navbar navbar-right">
  <li *ngFor = "let item of items" (click) = "openModal(template)">{{item}}

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{item}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>This is a {{item}}.</div>
        <div class="container">
          <app-setting></app-setting>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

