<ul class="navbar navbar-right">
  <li *ngFor = "let item of items" (click) = "openModal(template)">{{item}}

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{item}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <app-setting *ngIf = "item.toLowerCase() === 'settings'"></app-setting>
          <app-faq *ngIf = "item.toLowerCase() === 'faq'"></app-faq>
          <app-social *ngIf = "item.toLowerCase() === 'social'"></app-social>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

